<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css"
    />
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script src="/js/JsBarcode.all.min.js"></script>
    <link href="/dist/output.css" rel="stylesheet" />
    <script src="
https://cdn.jsdelivr.net/npm/barcode-generator@0.1.0/index.min.js
"></script>

    <link href="/css/all.min.css" rel="stylesheet" />
</head>
<body class="w-full h-full">
    <div class="flex justify-center items-center w-full h-full">
        <p class="text-xl font-bold w-full h-full  text-center">
            تم اكمال عملية التسجيل
    
        </p>
    
    </div>
</body>
</html>